CLOUDFLARE_API_TOKEN=your_cloudflare_token_here
GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id_here
GOOGLE_OAUTH_CLIENT_SECRET=your_google_oauth_client_secret_here
JWT_SHARED_KEY=your_jwt_shared_key_here