{
	security {
		oauth identity provider google {
			realm google
			driver google
			client_id {env.GOOGLE_OAUTH_CLIENT_ID}
			client_secret {env.GOOGLE_OAUTH_CLIENT_SECRET}
			scopes openid email profile
		}

		authentication portal opencode_portal {
			crypto default token lifetime 604800
			crypto key sign-verify {env.JWT_SHARED_KEY}
			enable identity provider google

			transform user {
				match realm google
				action add role authp/user
			}

			trust login redirect uri domain exact opencode.nagaev.me path /
		}

		authorization policy opencode_policy {
			crypto key verify {env.JWT_SHARED_KEY}
			set auth url /auth
			disable auth redirect query
			acl rule {
				comment allow specific email
				match email nagaev.yuri@gmail.com
				allow stop log info
			}
			acl default deny
		}
	}
}

oc.nagaev.me {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    handle /control* {
        reverse_proxy 127.0.0.1:18789
    }

    handle {
        root * /usr/share/caddy
        @not_found {
            not path /
            not file {path} {path}/
        }
        redir @not_found / 302
        file_server
    }
}

opencode.nagaev.me {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    route /auth* {
        authenticate with opencode_portal
    }

    route {
        authorize with opencode_policy
        reverse_proxy 127.0.0.1:4096
    }
}